<%- include("header.ejs") -%>

<link rel="stylesheet" href="styles/about.css">

<div class="about-us">
  <div class="container">
    <h1>Mission Statement</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

  </div>

  <div class="container">
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </p>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>

<div class="container text-right">
  <p><a class="btn btn-outline-primary" href="/team" role="button">Meet The Team &raquo;</a></p>
</div>


</div>


<%- include("footer.ejs") -%>
