<%- include("header.ejs"); -%>

<link rel="stylesheet" href="styles/expertise.css">

<div class="container marketing">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="heading">Services</h2>
      <ul>
        <li>Controls Design</li>
        <li>Project Management</li>
        <li>Startup & Debug</li>
        <li>Installation Supervision</li>
        <li>Controls field material procurement</li>
        <li>Robot programming and support</li>
        <li>Panel Build</li>
        <li>Production Support</li>
      </ul>

      <div class="helpBox">
        <p><em>Need to Ask a Question?</em></p>
        <a class="btn btn-outline-warning" href="/contact">Contact Us</a>
      </div>

    </div>


    <div class="col-lg-6 bg-dark topRight">
      <h2 class="heading">Hardware Software Solutions</h2>
      <ul>
        <li>AutoCad</li>
        <li>ePlan</li>
        <li>Siemens</li>
        <li>Allen Bradley</li>
      </ul>
      <h2 class="heading">Networks</h2>
      <ul>
        <li>EtherNet</li>
        <li>DeviceNet</li>
        <li>Profibus</li>
        <li>ProfiNet</li>
        <li>Interbus S</li>
        <li>ControlNet</li>
      </ul>
    </div>

  </div>
  <hr class="featurette-divider">
</div>




<div class="container marketing">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Body Shop. <span class="text-muted"></span></h2>
      <p class="lead">We have a variety of experience in the Body Shop including: </p>
      <ul>
        <li>Framing</li>
        <li>Underbody</li>
        <li>Respot</li>
        <li>Closures</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="images/bodyShop.jpg" alt="body Shop">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">General Assembly <span class="text-muted"></span></h2>
      <p class="lead">Additionally, we have experience in GA which includes</p>
      <ul>
        <li>Chassis</li>
        <li>Battery Load</li>
        <li>Glass</li>
        <li>Wheel Alignment</li>
      </ul>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="images/GMFlint.jpg" alt="GA">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Material Handling <span class="text-muted"></span></h2>
      <p class="lead">We also have extensive experience and knowledge in all areas regarding Material Handling.</p>
      <ul>
        <li>Geo Pallets</li>
        <li>Pallet Elevators</li>
        <li>Pallet Return Loops</li>
        <li>Feed Conveyors</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="images/mathand1.jpg" alt="material handling">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

<%- include("footer.ejs"); -%>
