<%- include("header.ejs"); -%>

<link rel="stylesheet" href="styles/expertise.css">

<div class="container marketing">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="heading">Services</h2>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>

      <div class="helpBox">
        <p><em>Need to Ask a Question?</em></p>
        <a class="btn btn-outline-warning" href="/contact">Contact Us</a>
      </div>

    </div>


    <div class="col-lg-6 bg-dark topRight">
      <h2 class="heading">Solutions</h2>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
      <h2 class="heading">Networks</h2>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
    </div>

  </div>
  <hr class="featurette-divider">
</div>




<div class="container marketing">


  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">First Heading. <span class="text-muted"></span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="images/bodyShop.jpg" alt="body Shop">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Second Heading. <span class="text-muted"></span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="images/GMFlint.jpg" alt="GA">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Third Heading. <span class="text-muted"></span></h2>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <ul>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
        <li>Lorem ipsum</li>
        <li>Dolor sit amet</li>
      </ul>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="images/mathand1.jpg" alt="material handling">
    </div>
  </div>

  <hr class="featurette-divider">
</div>

<%- include("footer.ejs"); -%>
