<%- include("header.ejs"); -%>


<div class="container">
  <h1>Services</h1>
  <ul>
    <li>Controls Design</li>
    <li>Project Management</li>
    <li>Startup & Debug</li>
    <li>Installation Supervision</li>
    <li>Controls field material procurement</li>
    <li>Robot programming and support</li>
    <li>Panel Build</li>
    <li>Production Support</li>
  </ul>
</div>


<%- include("footer.ejs"); -%>
