<%- include("header.ejs"); -%>

<link rel="stylesheet" href="styles/solutions.css">

<section id="hardware">
  <div class="container">
      <h1>Hardware</h1>
  </div>

  <div class="container text-center scrollable">
    <div class="myCard">
      <img src="images/auto-cad.jpeg" alt="">
    </div>
    <div class="myCard">
      <img src="images/eplan-logo.png" alt="">
    </div>
  </div>



</section>
<div class="container">
  <hr class="featurette-divider">
</div>


<section id="software">
  <div class="container">
      <h1>Software</h1>
  </div>

  <div id="software-scroll" class="container text-center scrollable">
    <div class="myCard">
      <img src="images/allen-bradley-logo.png" alt="">
    </div>
    <div class="myCard">
      <img src="images/ge_logo.png" alt="">
    </div>
    <div class="myCard">
      <img src="images/Siemens-logo.jpg" alt="">
    </div>
    <div class="myCard">
      <img src="images/Schneider_Electric_logo.jpg" alt="">
    </div>
  </div>

  <div class="container text-center">
    <i id="arrow-left" class="arrow fas fa-arrow-circle-left fa-2x"></i>
    <i id="arrow-right" class="arrow fas fa-arrow-circle-right fa-2x"></i>
  </div>


</section>

<script src="JS/solutions.js" charset="utf-8"></script>


<%- include("footer.ejs"); -%>
