<%- include("header.ejs"); -%>

<h1>Meet The Team</h1>

<div class="row">
  <div class="col-lg-3">

    <p>A short bio about one of the team members and their accolades and experience.</p>
  </div>
  <div class="col-lg-3">
    <p>A short bio about one of the team members and their accolades and experience.</p>
  </div>
  <div class="col-lg-3">
    <p>A short bio about one of the team members and their accolades and experience.</p>
  </div>

</div>

<%- include("footer.ejs"); -%>
