<%- include("header.ejs"); -%>

<link rel="stylesheet" href="styles/team.css">

<div class="row">
  <div class="col-lg-3 col-sm-6 text-right">
      <h2 class="top-heading">Meet The Team</h2>
  </div>

</div>


<div class="row">
  <div class="col-lg-3 col-sm-6 member">
    <img class="member-pic" src="images/random_pic.jpg" alt="">
  </div>
  <div class="col-sm-6 bg-dark">
    <div class="member-bio">
      <h2>First LastName</h2>
      <p>Here is some text about how this guy accomplished lots of things
        and has a lot of experience. He's done a lot and he won't let you
        down. This guy is awesome and you want him on your team.</p>

        <p>Phone Number: (555) 555-5555 ext. 2</p>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-sm-6 member">
    <img class="member-pic" src="images/random_pic.jpg" alt="">
  </div>
  <div class="col-sm-6 bg-dark">
    <div class="member-bio">
      <h2>First LastName</h2>
      <p>Here is some text about how this guy accomplished lots of things
        and has a lot of experience. He's done a lot and he won't let you
        down. This guy is awesome and you want him on your team.</p>

        <p>Phone Number: (555) 555-5555 ext. 2</p>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-sm-6 member">
    <img class="member-pic" src="images/random_pic.jpg" alt="">
  </div>
  <div class="col-sm-6 bg-dark">
    <div class="member-bio">
      <h2>First LastName</h2>
      <p>Here is some text about how this guy accomplished lots of things
        and has a lot of experience. He's done a lot and he won't let you
        down. This guy is awesome and you want him on your team.</p>

        <p>Phone Number: (555) 555-5555 ext. 2</p>
    </div>

  </div>

</div>
<div class="row">
  <div class="col-lg-3 col-sm-6 member">
    <img class="member-pic" src="images/random_pic.jpg" alt="">
  </div>
  <div class="col-sm-6 bg-dark">
    <div class="member-bio">
      <h2>First LastName</h2>
      <p>Here is some text about how this guy accomplished lots of things
        and has a lot of experience. He's done a lot and he won't let you
        down. This guy is awesome and you want him on your team.</p>

        <p>Phone Number: (555) 555-5555 ext. 2</p>
    </div>

  </div>

</div>






<%- include("footer.ejs"); -%>
