.container{
}

.myCard {
  display: inline-block;
  text-align: center;
  padding: 0 30px;
}

.myCard img {
  max-height: 600px;
  width: 100%;
  border-radius: 5px;
}


  .scrollable {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.arrow{
  padding: 0 40px 30px;
}
